<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

	<insert id="writeBoard">
		INSERT INTO BOARD
		(
			NO,
			CATEGORY_NO,
			WRITER_NO,
			TITLE,
			CONTENT
		)
		VALUES
		(
			SEQ_BOARD.NEXTVAL,
			#{categoryNo},
			#{writerNo},
			#{title},
			#{content}
		)
	</insert>

	<update id="deleteBoard">
		UPDATE BOARD
		SET DEL_DATE = SYSDATE
		WHERE NO = #{no}
	</update>

	<update id="editBoard">
		UPDATE BOARD
		SET CATEGORY_NO = #{categoryNo}
		, TITLE = #{title}
		, CONTENT = #{content}
		, SECRET_YN = 'N'
		, MODIFY_DATE = SYSDATE
		WHERE NO = #{no} AND DEL_DATE IS NULL
	</update>

	<select id="recentBoardCheck"
		resultType="com.mylog.app.board.vo.BoardVo">
		SELECT *
		FROM BOARD
		WHERE DEL_DATE IS NULL
		ORDER BY ENROLL_DATE DESC;
	</select>
	
	<select id="searchBoard" resultType="com.mylog.app.board.vo.BoardVo">
	    SELECT
	        B.NO
	        , B.TITLE
	        , B.CONTENT
	        , B.CATEGORY_NO
	        , C.TITLE AS category
	        , B.WRITER_NO
	        , M.NICK
	        , TO_CHAR(B.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
	        , B.SECRET_YN
	        , TO_CHAR(B.MODIFY_DATE, 'YYYY-MM-DD') AS MODIFY_DATE
	        , TO_CHAR(B.DEL_DATE, 'YYYY-MM-DD HH24:MI:SS') AS DEL_DATE
	        , COUNT(COM.NO) AS commentCount
	    FROM BOARD B
	    JOIN MEMBER M ON B.WRITER_NO = M.NO
	    JOIN CATEGORY C ON B.CATEGORY_NO = C.NO
	    LEFT JOIN COMMENTS COM ON B.NO = COM.BOARD_NO AND COM.DEL_DATE IS NULL
	    WHERE B.DEL_DATE IS NULL
	    AND (B.TITLE LIKE '%${searchValue}%' OR B.CONTENT LIKE '%${searchValue}%')
	    GROUP BY B.NO, B.TITLE, B.CONTENT, B.CATEGORY_NO, C.TITLE, B.WRITER_NO, M.NICK, B.ENROLL_DATE, B.SECRET_YN, B.MODIFY_DATE, B.DEL_DATE
</select>


	<select id="trendingBoardCheck"
		resultType="com.mylog.app.board.vo.BoardVo">
		SELECT
			B.NO,
			B.CATEGORY_NO,
			B.WRITER_NO,
			B.TITLE,
			B.CONTENT,
			B.ENROLL_DATE,
			B.SECRET_YN,
			B.MODIFY_DATE,
			B.DEL_DATE,
			NVL(VISIT_COUNT, 0) AS VISIT_COUNT
		FROM BOARD B
		LEFT JOIN (
		SELECT
			BOARD_NO,
			COUNT(VISITOR_NUM) AS VISIT_COUNT
		FROM VISITOR
		GROUP BY BOARD_NO
		) V ON B.NO = V.BOARD_NO
		ORDER BY VISIT_COUNT DESC
	</select>

	<select id="feedBoardCheck"
		resultType="com.mylog.app.board.vo.BoardVo">
		SELECT
			B.NO,
			B.CATEGORY_NO,
			B.WRITER_NO,
			B.TITLE,
			B.CONTENT,
			B.ENROLL_DATE,
			B.SECRET_YN,
			B.MODIFY_DATE,
			B.DEL_DATE
			FROM BOARD B
		JOIN FOLLOW F ON B.WRITER_NO = F.MEMBER_NO
		WHERE F.FOLLOWER_NO = #{followerNo}
		AND B.DEL_DATE IS NULL
		AND B.SECRET_YN = 'N'
	</select>

	<select id="detailBoardCheck" resultType="com.mylog.app.board.vo.BoardVo">
		SELECT
    	  B.NO
    	   , B.TITLE
    	   , B.CONTENT
    	   , B.CATEGORY_NO
    	   , C.TITLE AS category
    	   , B.WRITER_NO
    	   , M.NICK AS nick
    	   , M.INTRODUCTION AS introduce
    	   , TO_CHAR(B.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
    	   , B.SECRET_YN
    	   , TO_CHAR(B.MODIFY_DATE, 'YYYY-MM-DD') AS MODIFY_DATE
		FROM BOARD B
		JOIN MEMBER M ON B.WRITER_NO = M.NO
		JOIN CATEGORY C ON B.CATEGORY_NO = C.NO
		WHERE B.DEL_DATE IS NULL AND B.NO = #{no}
		ORDER BY B.NO
	</select>
	
	<select id="allBoardCheck" resultType="com.mylog.app.board.vo.BoardVo">
		SELECT
    		B.NO
    		, B.TITLE
    		, B.CONTENT
    		, B.CATEGORY_NO
    		, C.TITLE AS category
    		, B.WRITER_NO
    		, M.NICK
    		, TO_CHAR(B.ENROLL_DATE, 'YYYY-MM-DD HH24:MI:SS') AS ENROLL_DATE
    		, B.SECRET_YN
    		, TO_CHAR(B.MODIFY_DATE, 'YYYY-MM-DD HH24:MI:SS') AS MODIFY_DATE
    		, TO_CHAR(B.DEL_DATE, 'YYYY-MM-DD HH24:MI:SS') AS DEL_DATE
		FROM BOARD B
		JOIN MEMBER M ON B.WRITER_NO = M.NO
		JOIN CATEGORY C ON B.CATEGORY_NO = C.NO
		WHERE B.DEL_DATE IS NULL
		ORDER BY B.NO
	</select>
	
	<select id="getBoardListLoginMember" resultType="VisitorVo">
		SELECT VISITOR_NUM 
		FROM VISITOR 
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<insert id="insertVisitor" parameterType="VisitorVo">
		INSERT INTO VISITOR (BOARD_NO, VISITOR_NUM) 
		VALUES (#{boardNo}, #{visitorNum})
	</insert>
	
	
	
	
	<select id="getRecommendLoginMember" resultType="com.mylog.app.recommend.vo.RecommendVo">
		SELECT REFERENCE_NO 
		FROM RECOMMEND 
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<insert id="insertRecommend" parameterType="VisitorVo">
		INSERT INTO RECOMMEND (BOARD_NO, REFERENCE_NO) 
		VALUES (#{boardNo}, #{referenceNo})
	</insert>
	
	<delete id="deleteRecommend">
		DELETE FROM RECOMMEND
		WHERE REFERENCE_NO = #{referencNo}
	</delete>
	
	<select id="getCategoryVoList" resultType="com.mylog.app.board.vo.CategoryVo">
		SELECT * FROM CATEGORY ORDER BY NO DESC
	</select>
	
	<select id="getAttachment" resultType="com.mylog.app.board.vo.AttachmentVo">
		SELECT * FROM BOARD_ATTACHMENT WHERE BOARD_NO = #{no} AND DEL_YN = 'N'
	</select>
	
	<insert id="insertBoardAttachment">
		INSERT ALL
		<foreach collection="list" item="vo" separator=" ">
		 INTO BOARD_ATTACHMENT
		 (
			 NO
			 , BOARD_NO
			 , ORIGIN_NAME
			 , CHANGE_NAME
		 ) 
		 VALUES 
		 (
			 (SELECT FN_GET_BOARD_ATTACHMENT_SEQ_NEXTVAL FROM DUAL)
			 , SEQ_BOARD.CURRVAL
			 , #{vo.originName}
			 , #{vo.changeName}
		 )
		</foreach>
		SELECT * FROM DUAL
	</insert>

</mapper>
