<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">

	<select id="noticeList" resultType="NoticeVo">
		SELECT *
		FROM
		(
			SELECT ROWNUM AS R
			, N.*
			FROM NOTICE N
			ORDER BY NO
		)
		WHERE R BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="getTotPage" resultType="int">
		SELECT COUNT(NO) AS COUNT
		FROM NOTICE
	</select>
	
	<select id="selectNotice" resultType="NoticeVo">
		SELECT 
    		N.NO
    		, N.CATEGORY_NO 
    		, C.TITLE AS CATEGORY
    		, N.WRITER_NO
    		, M.NICK
    		, N.TITLE
    		, N.CONTENT
    		, TO_CHAR(N.ENROLL_DATE, 'YYYY-MM-DD HH24:MI:SS') AS ENROLL_DATE
    		, TO_CHAR(N.MODIFY_DATE, 'YYYY-MM-DD HH24:MI:SS') AS MODIFY_DATE
    		, N.HITS 
		FROM NOTICE N
		JOIN CATEGORY C ON C.NO = N.CATEGORY_NO
		JOIN MEMBER M ON M.NO = N.WRITER_NO
		WHERE N.NO = #{no}
	</select>
	
	<select id="searchNoticeList" resultType="NoticeVo">
		SELECT *
		FROM
		(
			SELECT 
    		A.*
    		,ROWNUM R
			FROM
    		(
        		SELECT 
            		N.NO,
            		N.CATEGORY_NO AS CATEGORY_NO,
            		C.TITLE AS CATEGORY,
            		N.WRITER_NO,
            		N.TITLE,
            		N.CONTENT,
            		TO_CHAR(N.ENROLL_DATE, 'YYYY-MM-DD HH24:MI:SS') AS ENROLL_DATE,
            		TO_CHAR(N.MODIFY_DATE, 'YYYY-MM-DD HH24:MI:SS') AS MODIFY_DATE
        			FROM NOTICE N
        			JOIN CATEGORY C ON C.NO = N.CATEGORY_NO
        			WHERE N.CATEGORY_NO = #{categoryNo} 
        			AND (N.TITLE LIKE '%${searchValue}%' OR N.CONTENT LIKE '%${searchValue}%')
        			ORDER BY	 
            		CASE 
            		<if test="type == 'title'">
                	WHEN N.TITLE LIKE '%${searchValue}%' THEN 1
                	ELSE 2
        			</if> 
            		<if test="type == 'content'">
                	WHEN N.TITLE LIKE '%${searchValue}%' THEN 2
                	ELSE 1
        			</if> 
            	END,
            	N.ENROLL_DATE DESC
    		) A
		)
		WHERE R BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="getSearchTotPage" resultType="int">
		SELECT
COUNT(R)        
FROM
(
    SELECT 
        ROWNUM R
    FROM
    (
        SELECT 
            N.NO
        FROM NOTICE N
        JOIN CATEGORY C ON C.NO = N.CATEGORY_NO
        WHERE N.CATEGORY_NO = #{categoryNo} 
        AND (N.TITLE LIKE '%${searchValue}%' OR N.CONTENT LIKE '%${searchValue}%')  
    ) A
)
	</select>
	
</mapper>