<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CommentMapper">

	<insert id="writeComment">
		INSERT INTO COMMENTS 
		(
	        NO, 
	        BOARD_NO, 
	        WRITER_NO, 
	        CONTENT
   		) 
    	VALUES 
    	(
	        SEQ_COMMENTS.NEXTVAL, 
	        #{boardNo}, 
	        #{writerNo}, 
	        #{content}
    	)
	</insert>
	
	<update id="editComment">
		UPDATE COMMENTS 
    	SET CONTENT = #{content}, 
    		MODIFY_DATE = SYSDATE
		WHERE NO = #{no} 
			AND WRITER_NO = #{writerNo} 
			AND BOARD_NO = #{boardNo} 
			AND DEL_DATE IS NULL

	</update>
	
	<update id="deleteComment">
		UPDATE COMMENTS
    		SET DEL_DATE = SYSDATE
		WHERE NO = #{no} 
			AND WRITER_NO = #{writerNo} 
			AND BOARD_NO = #{boardNo} 
			AND DEL_DATE IS NULL
	</update>
	
</mapper>